$bg-color: #46494c;
$border-color: #1985a1;
$border-radius: 4px;
$block-bg-color: #c5c3c6;
$text-color: #dcdcdd;
$input-bg-color: #4c5c68;
$font-size-text: 24px;
$icon-width: 30px;
$icon-height: 30px;
$highlight-color: #b2675e;
